html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: black /*#090f0e*/;
    font-family: Optimus;
    /*font-style: italic;*/
    color: goldenrod;
    padding: 10px;
}

footer {
    background: #42444e;
    color: #ddd;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.selectNoScroll {
    overflow: hidden;
}

#header a {
    position: absolute;
    right: 0;
    top: 23px;
    padding: 10px;
    color: #006;
}

#navigation {
    float: left;
    width: 200px;
}

#navigation ul {
    padding-inline-start:0;
}

#navigation li {
    list-style: none;
}

#extra {
    clear: left;
    width: 100%;
}

#content {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#content > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

input[type='number'] {
    width: 40px;
}

button {
    align-self: flex-start;
}