<script>
export default {
    props: {
        collection: Object,
        attribute: String,
        min: Number,
        modified_attributes: Object,
        show_mod: Boolean,
    },
}
</script>
<template>
    <tr>
        <numberSlider
            :min="min === undefined ? 1 : min"
            :max="99"
            :collection="collection"
            :name="attribute"
        />
        <td v-if="show_mod" style="color:white;white-space:nowrap;">
            &nbsp;(
            <span :style="[modified_attributes[attribute] > collection[attribute] ? {color:'lightblue'} : modified_attributes[attribute] > collection[attribute] ? {color:'lightred'} : {color:'white'}]">
            {{ modified_attributes[attribute] }}
            </span>
            )
        </td>
        <td>
            <label>{{ attribute.toUpperCase() }}</label>
        </td>
    </tr>
</template>