<script>
export default {
    props: {
        label: String,
        slot_id: String,
        buff_list: Array,
        args: Object,
        modified_attributes: Object,
    },
    methods: {
        capitalize(string) {
            return capitalize(string);
        },
        unusable_buff(buff) {
            return buff.effects && (
                (
                    this.slot_id == 'weapon_buff'
                    &&
                    !this.args.selected_weapons[this.args.selected_weapon_slot].buffable
                    &&
                    buff.effects.some(m => m[3].enchantment)
                )
                ||
                (
                    buff.effects.some(m => !attributes_meets_requirements(this.modified_attributes, m[3].requirements))
                )
            );
        },
        reduce_requirements(buff) {
            var requirements = buff.effects.map(m => m[3].requirements).filter(r => r);
            var reduced_requirement = {};
            
            for(var attribute of this.args.attack_sources) {
                var requirement = requirements.reduce((acc, curr) => Math.max(acc, curr[attribute]), 0);
                if(requirement > 0)
                    reduced_requirement[attribute] = requirement;
            }
            
            return reduced_requirement;
        },
        unusable_armament(armament) {
            return !attributes_meets_requirements(this.modified_attributes, armament.requirements)
        },
        has_catalyst_scaling(buff) {
            return buff.effects ? buff.effects.some(mod => ['sor', 'inc'].includes(mod[2])) : false;
        },
        get_usable_catalysts(slot) {
            var buff = this.args.modifiers[slot];
            var casting_types = new Set();
            if(buff.effects)
                for(var effect of buff.effects)
                    casting_types.add(effect[2]);
            casting_types = [...casting_types];
            var catalysts = this.args.catalysts.filter(weapon => casting_types.some(casting_type => weapon['casts_' + casting_type]));
            this.args.modifier_catalysts[slot] = catalysts.find(catalyst => catalyst === this.args.modifier_catalysts[slot]) || catalysts[0];
            this.args.modifier_catalyst_reinforcements[slot] = Math.min(this.args.modifier_catalyst_reinforcements[slot], this.args.modifier_catalysts[slot].max_upgrade_level);
            return catalysts;
        },
    },
}
</script>
<template>
    <div>
        <label v-if="label" style="width:100px">{{ label }}</label>
        <select class="select-box select-item input-text resizeable-select" :name="slot_id" v-model="args.modifiers[slot_id]" :class="{'unusable-buff':unusable_buff(args.modifiers[slot_id])}">
            <option v-for="buff in buff_list" :value="buff" :class="{'unusable-buff':unusable_buff(buff)}">
                {{ buff.name }}
            </option>
        </select>
        <div class="div_button" style="visibility:hidden"></div>
    </div>
    <div style="justify-content:start" class="item-requirements" v-if="args.modifiers[slot_id].effects && args.modifiers[slot_id].effects.some(m => m[3].requirements && Object.keys(m[3].requirements).length)">
        Requires:
        <template v-for="(req, attribute) in reduce_requirements(args.modifiers[slot_id])">
            <p v-if="req > 0">
                {{ capitalize(attribute) }}&nbsp;<span class="value" :style="[req > modified_attributes[attribute] ? {color: 'red'} : {}]">{{ req }}</span>
            </p>
        </template>
    </div>
    <div class="catalyst-parent" v-if="args.modifiers[slot_id].name!='None'">
        <div class="catalyst" v-if="has_catalyst_scaling(args.modifiers[slot_id])">
            <label>Catalyst</label>
            <select class="select-box select-item input-text" v-model="args.modifier_catalysts[slot_id]" :class="{'unusable-buff':unusable_armament(args.modifier_catalysts[slot_id])}" style="max-width:300px">
                <option v-for="catalyst in get_usable_catalysts(slot_id)" :value="catalyst" :class="{'unusable-buff':unusable_armament(catalyst)}">
                    {{ catalyst.name }}
                </option>
            </select>
            <template v-if="args.modifier_catalysts[slot_id].name">
                <label>Reinforcement</label>
                <input class="select-box input-text" type="number" v-model.number="args.modifier_catalyst_reinforcements[slot_id]" min="0" :max="args.modifier_catalysts[slot_id].max_upgrade_level">
            </template>
        </div>
        <div class="item-requirements" v-if="has_catalyst_scaling(args.modifiers[slot_id])">
            Requires:
            <template v-for="(req, attribute) in args.modifier_catalysts[slot_id].requirements">
                <p v-if="req > 0">
                    {{ capitalize(attribute) }}&nbsp;<span class="value" :style="[req > modified_attributes[attribute] ? {color: 'red'} : {}]">{{ req }}</span>
                </p>
            </template>
        </div>
        <div class="effects" v-if="args.modifiers[slot_id].effects || args.modifiers[slot_id].addendum">
            <modifierDescription
                :modifier="args.modifiers[slot_id]"
                nobr 
            />
        </div>
    </div>
</template>