<script>
export default {
    props: {
        args: Object,
        equippable_weapons: Array,
        standard_neg: Number,
        strike_neg: Number,
        slash_neg: Number,
        pierce_neg: Number,
        magic_neg: Number,
        fire_neg: Number,
        lightning_neg: Number,
        holy_neg: Number,
        standard_def: Number,
        strike_def: Number,
        slash_def: Number,
        pierce_def: Number,
        magic_def: Number,
        fire_def: Number,
        lightning_def: Number,
        holy_def: Number,
        level: Number,
        weight: Number,
        immunity: Number,
        robustness: Number,
        focus: Number,
        vitality: Number,
        item_immunity: Number,
        item_robustness: Number,
        item_focus: Number,
        item_vitality: Number,
        hp: Number,
        fp: Number,
        stamina: Number,
        equip_load: Number,
        equip_load_category: String,
        discovery: Number,
        poise: Number,
        modified_attributes: Object,
        innerWidth: Number,
    },
    data() { 
        return {
            stackable_buff_ids: ['stackable_buff_0'],
            unveil: false,
        }
    },
    computed: {
        isMobile() {
            return navigator.userAgentData.mobile;
        },
    },
    methods: {
        add_stackable_buff() {
            var buff_id = 'stackable_buff_' + this.stackable_buff_ids.length;
            this.stackable_buff_ids.push(buff_id);
            this.args.modifiers[buff_id] = this.args.stackable_buffs[0];
            this.args.modifier_catalysts[buff_id] = {};
            this.args.modifier_catalyst_reinforcements[buff_id] = 0;
        },
        remove_stackable_buff() {
            var slot_id = this.stackable_buff_ids.pop();
            delete this.args.modifiers[slot_id];
            delete this.args.modifier_catalysts[slot_id];
            delete this.args.modifier_catalyst_reinforcements[slot_id];
        },
    },
}
</script>
<template>
    <div id="character" class="elden_sheet">
        <div>
            <div>
                <div style="display:flex;gap:5px">
                    <label>Class</label>
                    <select class="select-box input-text" v-model="args.clazz">
                        <option v-for="clazz in args.classes" :value="clazz">
                            {{ clazz.name[0].toUpperCase() + clazz.name.substring(1) }}
                        </option>
                    </select>
                </div>
                <img :src="`assets/${args.clazz.name}_portrait.png`" width="100">
                <!--<img :src=astrologer_partrait width="100">-->
                <br>
                <div>
                    Level <span class="value">{{ level }}</span>
                </div>
                <div style="font-size:12px">
                    Attributes
                </div>
                <table>
                    <attributeSlider v-for="attribute in args.sources"
                        :collection="args.attributes"
                        :attribute="attribute"
                        :min="args.clazz[attribute]"
                        :modified_attributes="modified_attributes"
                        :show_mod="args.sources.some(attribute => args.attributes[attribute] != modified_attributes[attribute])"
                    />
                </table>
            </div>
            <div>
                <metaStatsForm
                    :standard_neg="standard_neg"
                    :strike_neg="strike_neg"
                    :slash_neg="slash_neg"
                    :pierce_neg="pierce_neg"
                    :magic_neg="magic_neg"
                    :fire_neg="fire_neg"
                    :lightning_neg="lightning_neg"
                    :holy_neg="holy_neg"
                    :standard_def="standard_def"
                    :strike_def="strike_def"
                    :slash_def="slash_def"
                    :pierce_def="pierce_def"
                    :magic_def="magic_def"
                    :fire_def="fire_def"
                    :lightning_def="lightning_def"
                    :holy_def="holy_def"
                    :hp="hp"
                    :fp="fp"
                    :stamina="stamina"
                    :equip_load="equip_load"
                    :equip_load_category="equip_load_category"
                    :discovery="discovery"
                    :weight="weight"
                    :immunity="immunity"
                    :robustness="robustness"
                    :focus="focus"
                    :vitality="vitality"
                    :poise="poise"
                    :item_immunity="item_immunity"
                    :item_robustness="item_robustness"
                    :item_focus="item_focus"
                    :item_vitality="item_vitality"
                />
            </div>
        </div>
        <weaponSelectForm v-if="args.hide_equipment"
            :label="'Weapon'"
            :slot_id="'weapon_r1'"
            :args="args"
            :equippable_weapons="equippable_weapons"
            :innerWidth="innerWidth"
        />
        <weaponSelectForm v-for="(weapon, slot_id) in args.selected_weapons" v-else
            :label="slot_id.split('_').map(word=>word[0].toUpperCase()+word.slice(1)).join(' ')"
            :slot_id="slot_id"
            :args="args"
            :equippable_weapons="equippable_weapons"
            :innerWidth="innerWidth"
            radio
        />
        <div class="div_button" v-if="args.hide_equipment" @click="args.hide_equipment=false">
            Show Equipment
        </div>
        <template v-else>
            <itemRow
                :label="'Head'"
                :slot_id="'head'"
                :item_list="args.helms"
                :args="args"
            />
            <itemRow
                :label="'Torso'"
                :slot_id="'torso'"
                :item_list="args.cuirasses"
                :args="args"
            />
            <itemRow
                :label="'Arms'"
                :slot_id="'arms'"
                :item_list="args.gauntlets"
                :args="args"
            />
            <itemRow
                :label="'Legs'"
                :slot_id="'legs'"
                :item_list="args.greaves"
                :args="args"
            />
            <itemRow
                :label="'Talisman'"
                :slot_id="'talisman1'"
                :item_list="args.talismans"
                :args="args"
            />
            <itemRow
                :label="'Talisman'"
                :slot_id="'talisman2'"
                :item_list="args.talismans"
                :args="args"
            />
            <itemRow
                :label="'Talisman'"
                :slot_id="'talisman3'"
                :item_list="args.talismans"
                :args="args"
            />
            <itemRow
                :label="'Talisman'"
                :slot_id="'talisman4'"
                :item_list="args.talismans"
                :args="args"
            />
            <buffForm
                :label="'Weapon Buff'"
                :slot_id="'weapon_buff'"
                :buff_list="args.weapon_buffs"
                :args="args"
                :modified_attributes="modified_attributes"
            />
            <buffForm
                :label="'Body Buff'"
                :slot_id="'body_buff'"
                :buff_list="args.body_buffs"
                :args="args"
                :modified_attributes="modified_attributes"
            />
            <buffForm
                :label="'Aura Buff'"
                :slot_id="'aura_buff'"
                :buff_list="args.aura_buffs"
                :args="args"
                :modified_attributes="modified_attributes"
            />
            <label>Stackable Buffs</label>
            <buffForm v-for="slot_id in stackable_buff_ids"
                :slot_id="slot_id"
                :buff_list="args.stackable_buffs"
                :args="args"
                :modified_attributes="modified_attributes"
            />
            <div style="justify-content:start">
                <div class="div_button" @click="add_stackable_buff">+</div>
                <div class="div_button" @click="remove_stackable_buff" v-if="stackable_buff_ids.length > 1">-</div>
            </div>
        </template>
    </div>
</template>