<script>
export default {
    props: {
        collection: Object,
        index: String,
        label: String,
        hint: String,
    },
}
</script>
<template>
    <div style="display:flex;flex-direction:row;">
        <input class="checkbox" type="checkbox" :id="index" :name="index" v-model="collection[index]" :true-value=true :false-value=false>
        <label :for="index"></label><label :class="{tooltip:hint}" :title="hint">{{ label }}</label>
    </div>
</template>