<script>
export default {
    props: {
        args: Object,
        has_multi_movesets: Boolean,
        has_moveset_modifiers: Boolean,
        moveset_is_two_handable: Boolean,
        moveset_modifiers: Object,
        target: Object,
        custom_hit_sequence_length: Number,
    },
}
</script>
<template>
    <div id="damage" class="elden_sheet">
        <h2>Damage Calculation</h2>
        <div>
            <div>
                <checkbox
                    :collection="args.options"
                    :index="'standing_in_water'"
                    :label="'Water'"
                    hint="Enemy is standing in water, affecting fire and lighting damage."
                />
            </div>
            <div>
                <checkbox
                    :collection="args.options"
                    :index="'standing_in_rain'"
                    :label="'Rain'"
                    hint="Enemy is standing in rain, affecting fire and lighting damage."
                />
            </div>
            <div>
                <checkbox
                    :collection="args.options"
                    :index="'headshot'"
                    :label="'Headshots'"
                    hint="All ranged shots are headshots."
                />
            </div>
            <div>
                <checkbox
                    :collection="args.options"
                    :index="'passive_damage_heuristics'"
                    :label="'Buildup Effect Damage'"
                    hint="Estimated average of buildup effect damage is added per hit."
                />
            </div>
            <div>
                <checkbox
                    :collection="args.options"
                    :index="'custom_moveset'"
                    :label="'Use Custom Moveset'"
                    hint="For advanced users with access to Backstab or Riposte motion values."
                />
            </div>
            <div v-if="args.options.custom_moveset">
                <div>
                    <label class="tooltip" title="Used for applying bonuses.">Motion Type:</label>
                </div>
                <enumSelector
                    :collection="args.custom_moveset"
                    index="category"
                    :enums=          "['normal','backstab','riposte','_charged','mounted','jumping','guardcounter','shieldpoke','ranged']"
                    :enums_displayed="['Normal','Backstab','Riposte','Charged','Mounted','Jumping','Guardcounter','Shieldpoke','Ranged']"
                />
            </div>
        </div>
        <template v-if="args.options.custom_moveset">
            <div>
                <div>
                    <textInput
                        :collection="args.custom_moveset"
                        :index="'hit_sequence'"
                        :label="'Hit Sequence'"
                        hint="String that identifies the sequence of inputs and hits."
                    />
                </div>
            </div>
            <div>
                <div>
                    <label class="tooltip" title="Pre-defense damage percentage that varies for different hits in attack animations." style="width:98px">Motion Values:</label>
                </div>
                <div v-for="index in custom_hit_sequence_length">
                    <numberSlider
                        :min="0"
                        :max="999"
                        :default="100"
                        :collection="args.custom_moveset.motion_values"
                        :name="index - 1"
                        :box_length="'69px'"
                        mobile
                        alone
                    />
                </div>
            </div>
            <div>
                <div>
                    <label class="tooltip" title="The physical damage type for different hits in attack animations." style="width:98px">Swing Types:</label>
                </div>
                <div v-for="index in custom_hit_sequence_length">
                    <enumSelector
                        :collection="args.custom_moveset.motion_types"
                        :index="index - 1"
                        :enums="['standard','strike','slash','pierce']"
                        :box_length="'69px'"
                    />
                </div>
            </div>
            <div>
                <div>
                    <label class="tooltip" title="This calculator uses stamina cost to determine the frequency of passive effect buildup.\nLower cost means higher passive effect damage." style="width:98px">Stamina Costs:</label>
                </div>
                <div v-for="index in custom_hit_sequence_length">
                    <numberSlider
                        :min="0"
                        :max="999"
                        :default="8"
                        :collection="args.custom_moveset.motion_stamina_costs"
                        :name="index - 1"
                        :box_length="'69px'"
                        mobile
                        alone
                    />
                </div>
            </div>
        </template>
        <div>
            <div v-if="!args.options.custom_moveset">
                <label for="moveset" class="tooltip" title="Weapons incapable of the selected motion will not produce damage.\nRanged weapons use the Ranged moveset.\nBackstab and Riposte are for the normal PvP animation.\nPvE enemies that use different Backstab or Riposte animations will show incorrect damage.">Motion</label><br>
                <select class="select-box input-text" name="moveset" v-model="args.moveset_category">
                    <option v-for="move in Object.keys(args.movesets)" :value="move">
                        {{ args.movesets[move].display_name }}
                    </option>
                </select>
            </div>
        </div>
        <div>
            <div v-if="has_moveset_modifiers && !args.options.custom_moveset">
                <label for="input">Input Type</label><br>
                <select class="select-box input-text" name="input" v-model="args.moveset_modifier">
                    <option v-for="modifier in Object.keys(moveset_modifiers)" :value="modifier">
                        {{ modifier.charAt(0).toUpperCase() + modifier.slice(1) }}
                    </option>
                </select>
            </div>
        </div>
        <div>
            <div v-if="moveset_is_two_handable">
                <label for="grip" class="tooltip" title="Two-handing a weapon uses a higher motion value and will effectively 1.5x your STR, increasing damage and satisfying higher STR requirements.\nMany ranged weapons require two-handing.">Grip</label><br>
                <select class="select-box input-text" name="grip" v-model="args.is_two_handing">
                    <option v-for="is_two_handing in [false, true]" :value="is_two_handing">
                        {{ (is_two_handing ? 'Two Handing' : 'One Handing') }}
                    </option>
                </select>
            </div>
        </div>
        <div>
            <div v-if="has_multi_movesets && !args.options.custom_moveset">
                <label for="aggregate" class="tooltip" title="How to count the damage from inputs that belong to a moveset.">Input Aggregate</label><br>
                <select class="select-box input-text" name="aggregate" v-model="args.moveset_aggregate">
                    <option v-for="aggregate in args.aggregates" :value="aggregate">
                        {{ aggregate.charAt(0).toUpperCase() + aggregate.slice(1) }}
                    </option>
                </select>
            </div>
        </div>
        <div>
            <div v-if="!args.options.custom_moveset">
                <label for="hit" class="tooltip" title="How to count the damage from hits that belong to an input.">Hit Aggregate</label><br>
                <select class="select-box input-text" name="hit" v-model="args.hit_aggregate">
                    <option v-for="aggregate in args.aggregates" :value="aggregate">
                        {{ aggregate.charAt(0).toUpperCase() + aggregate.slice(1) }}
                    </option>
                </select>
            </div>
        </div>
        <div>
            <div>
                <label for="enemy">Enemy</label>
                <select class="select-box input-text" name="enemy" v-model="args.enemy">
                    <option v-for="boss in args.bosses" :value="boss">
                        {{ boss.name }}
                    </option>
                </select>
            </div>
            <div>
                <label for="ngp">NG+</label>
                <select class="select-box input-text" name="ngp" v-model="args.ngp">
                    <option v-for="ngp in [...Array(8).keys()]" :value="ngp">
                        {{ ngp }}
                    </option>
                </select>
            </div>
        </div>
        <div v-if="target">
            <div>
                <targetStatSheet
                    :target="target"
                />
            </div>
        </div>
    </div>
</template>