<script>
export default {
    props: {
        collection: Object,
        index: [Number, String],
        label: String,
        hint: String,
        enums: Array,
        enums_displayed: Array,
        box_length: String,
    },
    methods: {
        capitalize(string) {
            return capitalize(string);
        },
    },
    mounted() {
        this.collection[this.index] = this.enums[0];
    },
}
</script>
<template>
    <div style="display:flex;flex-direction:row;">
        <template v-if="label"><label :for="index"></label><label :class="{tooltip:hint}" :title="hint">{{ label }}</label></template>
        <select class="select-box select-item input-text resizeable-select" v-model="collection[index]" :style="box_length ? {width:box_length} : {}">
            <option v-for="(enumeration, i) in enums" :value="enumeration">
                {{ enums_displayed ? enums_displayed[i] : capitalize(enumeration) }}
            </option>
        </select>
    </div>
</template>