<script>
export default {
}
</script>
<template>
    <div class="faq">

    <h2>
    What does this optimizer optimize?
    </h2>

    <p>
    Gideon's True Damage Optimizer finds a combination of character class, weapon, and stat distribution, in order to maximize the damage of a single attack or moveset.
    The actual damage dealt is also dependent on the enemy you are attacking, which moveset you are using, your weapon upgrade level, your new game level, etc...
    The optimizer is meant to "cut through" the obscure damage system and give players concrete values that they can use for building their characters.
    </p>

    <h2>
    What's the difference between attack power and attack damage?
    </h2>

    <p>
    Attack power is an attribute of your weapon and is the primary attribute that is used to determine your attack damage.
    There are many steps between converting attack power into attack damage.
    Each weapon has up to five types of attack power.
    The damage that they each contribute is all combined into the single number that you see when you hit an enemy in Elden Ring.
    This can be very confusing for players in cases where increases in your total attack power results in dealing less damage.
    This occurs primarily because each power/damage type suffers its own diminishing returns.
    </p>

    <h2>
    Why are some effects italicized?
    </h2>

    <p>
    These effect belong to the item/spell/enchantment but don't contribute to any stats on the page.
    Please make a report if you believe that an effect should contribute but doesn't.
    </p>

    <h2>
    How accurate is this tool?
    </h2>

    <p>
    The damage is not "estimated" unless otherwise stated.
    Certain rounding issues can occur with certain options, so see the known issues section for more information about those.
    Otherwise, if the damage isn't matching in game results, please submit a bug report.
    </p>

    <h2>
    When should I be using brute force optimization?
    </h2>

    <p>
    The optimizer will automatically switch to brute force when weapon requirements are unmeetable.
    Selecting this option will force it to use brute force in all cases and guarantees perfect optimization.
    This feature is somewhat depricated, since now the optimizer can optimize with the presence of enchantment and catalyst breakpoints.
    When selecting this, try to reduce the problem space by increasing minimum attributes or by having your weapon and class locked in.
    Without reducing your problem space, the algorithm might not finish in your lifetime.
    </p>

    <h2>
    How is damage from status effects estimated?
    </h2>

    <p>
    Passive effect buildup is simulated, then the damage that is caused by the passive effect is averaged per hit.
    The simulation assumes that the effect will activate twice, then waste the entire third buildup cycle while trying to afflict buildup.
    The weapon's stamina consumption is used to determine how often a hit occurs.
    The increase in buildup requirement is also accounted for.
    For non-boss or low health bosses, you can expect an over-estimatimation.
    Effect damage is also averaged over hits that deal no buildup.
    (Like when an enemy is already poisoned but you are still attacking with a poison weapon.)

    Bonus attack damage dealt while an enemy is "frostbitten" for 30s is also accounted for in the frostbite estimation.

    For sleep, the activation damage is simulated with a backstab of the current weapon.
    For sleep arrows, this just means another arrow.
    </p>

    <h2>
    How accurate is the game data that is being using?
    </h2>

    <p>
    It comes directly from the source code.
    If something is updated in the game, it will show on the site at the same time that I update the patch number in the bottom left corner.
    Buffs are an exception to this. I'll update them manually when a new patch arrives. If something is showing up wrong, please submit a bug.
    </p>

    <h2>
    Can I optimize multiple catagories at the same time?
    </h2>

    <p>
    Some of the inputs are multi-select boxes.
    You can shift-click, ctrl-click, and drag-click to select and unselect multiple catagories at once.
    </p>

    <h2>
    Does this account for enemy weaknesses?
    </h2>

    <p>
    Yes!
    If an enemy like Astel is selected, weapons or buffs that deal bonus damage to void enemies will show increased damage.
    The same goes for undead, dragon, and ancient dragon enemies.
    </p>

    <h2>
    I'm trying to filter for ranged weapons but I'm not getting any results.
    </h2>

    <p>
    Ranged weapons don't have conventional movesets.
    Use "Ranged One Handing" for crossbows and "Ranged Two Handing" for all ranged weapons.
    </p>

    <h2>
    I want to compare enchantable and non-enchantable weapons.
    Will my enchantments apply to the non-enchantable weapons?
    </h2>

    <p>
    The calculator will not apply enchantments to non-enchantable weapons, even if you have one selected or matching your criteria.
    The calculator can tell the different between weapon buffs that do and don't count as enchantments. (Like different ashes of war.)
    You're still allowed to select un-usable enchantments in the cases where there is a weapon in the weapon pool that may gain damage from it.
    </p>

    <h2>
    Where is &lt;insert buff/item here&gt;?
    </h2>

    <p>
    I've included all that make sense for me to include.
    If you think something is wrong or missing, please send a request with the report link.
    </p>

    <h2>
    Can I see some of the data that you're using?
    </h2>

    <p>
    You can see a lot of my data in the "main.args" variable.
    If you're using Chrome, just right-click, choose "Inspect", then enter these variables into the console.
    "main.args.weapons" for all weapons.
    "main.args.bosses" for all bosses.
    Stuff like weapon buildup, scaling, base attack, and enemy health, defense, resistance, are added after user input.
    To see that kind of data, call "main.extended_weapons()" or "main.extended_enemy()".
    To get the weapon that is currently equipped, call "main.selected_weapon" or "main.extended_weapons(true)".
    </p>

    <h2>
    Can I blacklist weapons that I don't like?
    </h2>

    <p>
    I don't have this feature because I believe that it would clutter the UI.
    But here is an example script that you can run in the console to maintain your own blacklist:
    <pre>
    blacklist = new Set(['Magic Broadsword', 'Magic Longsword'])
    main.args.weapons = main.args.weapons.filter(weapon => !black_list.has(weapon.name))
    </pre>
    </p>

    <h2>
    How can I support this site?
    </h2>

    <p>
    I could REALLY use some help testing all of the different combinations of buffs and status effects.
    Sending an email with "I tested all of X and it looks accurate." or "I tested Y but the numbers are off" helps me out a ton.
    If there's some other way you'd like to help, just click the email link and let me know!
    </p>

    <h2>
    Known Issues
    </h2>

    <ul>
    <li>
    Enemy type weaknesses don't work properly.
    The calculation applies the damage bonus to all weapon attacks, but it seems to only apply to some of the attacks for those special weapons.
    This would need some big changes to fix, so I won't be able to solve this anytime soon.
    </li>
    <li>
    Some backstab and riposte results will be wrong for certain enemies.
    Different weapon "throw" animations are linked to different enemies.
    The community hasn't been able to datamine these links.
    If you have access to the game's "AtkParam_Pc" file, you can guess which motion values are being used and check them with the custom moveset options.
    If you do that, you will need to at least lock in your weapon type to make sure that you aren't comparing weapons with different motion values.
    </li>
    <li>
    Black Flame damge isn't factored into the passive damage calculation.
    </li>
    <li>
    Paired weapon damage is for the primary weapon only.
    This option assumes that you are using your primary weapon in both hands.
    </li>
    <li>
    There is a small chance that the returned result will be for a local maximum but not a global maximum.
    The stat curving in Elden Ring is good at preventing non-global maxima from showing up, and there are also fail-safes in the algorithm to prevent this from happening.
    This is extremely rare. I've seen this once before and have since increased the optimizer's precision.
    Consider using brute force optimization if you suspect that your result is not optimal and please report it.
    </li>
    <li>
    Multi-hit movesets can sometimes be suboptimal.
    The damage number shown is accurate, but the optimization algorithm itself uses unrounded damage numbers to find maximum values.
    For example: <i>floor(12.5+12.6)&gt;floor(12.8)+floor(12.9)</i>
    Meaning that a similar set of parameters might deal slightly more damage, but will be considered less by the algorithm.
    Realistically, this difference won't be greater than a single point of damage, since consecutive hits don't differ much in damage.
    Consider using brute force optimization if you are using a multi-hit moveset and want that 1 extra point of damage.
    </li>
    <li>
    Damage is sometimes off by a point when compared to in-game.
    Please report this if you see it so that I can be aware of it.
    There may be some intermediate rounding occuring with certain effects.
    </li>
    <li>
    Headshot damage is sometimes miscalculated by a couple points.
    I don't have enough data on weak points to properly address this.
    </li>
    </ul>

    </div>
</template>
