<script>
export default {
    props: {
        args: Object,
        innerWidth: Number,
    },
}
</script>
<template>
    <div id="filter" class="elden_sheet">
        <h2>Weapons</h2>
        <div v-if="innerWidth >= 500">
            <div>
                <div class="select_header">
                    <label for="weaponTypes">Types</label>
                    <img src="@/assets/cancel.png" height="16" width="16" @click="args.weapon_types_selected=[]" :style="args.weapon_types_selected.length?{visibility:'visible',cursor:'pointer'}:{visibility:'hidden',cursor:'auto'}">
                </div>
                <select class="select-box input-text" size="15" name="weaponTypes" v-model="args.weapon_types_selected" multiple>
                    <option v-for="weapon_type in args.weapon_types">{{ weapon_type }}</option>
                </select>
            </div>
            <div>
                <div class="select_header">
                    <label for="affinities">Affinities</label>
                    <img src="@/assets/cancel.png" height="16" width="16" @click="args.affinities_selected=[]" :style="args.affinities_selected.length?{visibility:'visible',cursor:'pointer'}:{visibility:'hidden',cursor:'auto'}">
                </div>
                <select class="select-box input-text selectNoScroll" size="15" name="affinities" v-model="args.affinities_selected" multiple>
                    <option v-for="affinity in args.affinities">{{ affinity }}</option>
                </select>
            </div>
            <div>
                <div class="select_header">
                    <label for="ammo">Ammunition</label>
                    <img src="@/assets/cancel.png" height="16" width="16" @click="args.ammo_types_selected=[]" :style="args.ammo_types_selected.length?{visibility:'visible',cursor:'pointer'}:{visibility:'hidden',cursor:'auto'}">
                </div>
                <select class="select-box input-text" size="15" name="ammo" v-model="args.ammo_types_selected" multiple>
                    <option v-for="ammo in args.ammo_types">{{ ammo }}</option>
                </select>
            </div>
        </div>
        <template v-else>
        <div>
            <div>
                <div class="select_header">
                    <label for="weaponTypes">Types</label>
                    <img src="@/assets/cancel.png" height="16" width="16" @click="args.weapon_types_selected=[]" :style="args.weapon_types_selected.length?{visibility:'visible',cursor:'pointer'}:{visibility:'hidden',cursor:'auto'}">
                </div>
                <select class="select-box input-text" size="15" name="weaponTypes" v-model="args.weapon_types_selected" multiple>
                    <option v-for="weapon_type in args.weapon_types">{{ weapon_type }}</option>
                </select>
            </div>
        </div>
        <div>
            <div>
                <div class="select_header">
                    <label for="affinities">Affinities</label>
                    <img src="@/assets/cancel.png" height="16" width="16" @click="args.affinities_selected=[]" :style="args.affinities_selected.length?{visibility:'visible',cursor:'pointer'}:{visibility:'hidden',cursor:'auto'}">
                </div>
                <select class="select-box input-text selectNoScroll" size="15" name="affinities" v-model="args.affinities_selected" multiple>
                    <option v-for="affinity in args.affinities">{{ affinity }}</option>
                </select>
            </div>
        </div>
        <div>
            <div>
                <div class="select_header">
                    <label for="ammo">Ammunition</label>
                    <img src="@/assets/cancel.png" height="16" width="16" @click="args.ammo_types_selected=[]" :style="args.ammo_types_selected.length?{visibility:'visible',cursor:'pointer'}:{visibility:'hidden',cursor:'auto'}">
                </div>
                <select class="select-box input-text" size="15" name="ammo" v-model="args.ammo_types_selected" multiple>
                    <option v-for="ammo in args.ammo_types">{{ ammo }}</option>
                </select>
            </div>
        </div>
        </template>
        <div>
            <div style="display:flex;flex-direction:row;flex-wrap:nowrap;">
                <label for="weaponWeight">Weapon Weight </label>
                <select class="select-box input-text" v-model="args.options.has_weight_less_than_or_equal">
                    <option :value="true">&lt;=</option>
                    <option :value="false">&lt;</option>
                </select>
                &nbsp;
                <input class="select-box input-text" name="weaponWeight" type="number" v-model.number="args.weight" min="0" step="any" size="5" style="width:50px">
            </div>
            <checkbox
                :collection="args.options"
                :index="'must_have_required_attributes'"
                :label="'Required Attributes'"
                :hint="'Only view weapons with satisfied attributed requirements.\\nOnly consider weapons for optimization if requirements can be satisfied.'"
            />
            <checkbox
                :collection="args.options"
                :index="'must_be_buffable'"
                :label="'Enchantable'"
                :hint="'Only view/consider weapons such that spells like Scholars Armament can be applied.\\nTypically not yet having a secondary damage type.'"
            />
            <checkbox
                :collection="args.options"
                :index="'lock_base_weapon'"
                :label="'Lock Base Weapon'"
                hint="Only view/consider weapons with the same base weapon as the currently selected weapon.\nYou will usually want to unselect Type and Affinity filters when using this."
            />
            <checkbox
                :collection="args.options"
                :index="'has_buildup'"
                :label="'Buildup'"
                :hint="'Only view/consider weapons with an innate buildup effect.'"
            />
            <div v-if="args.options.has_buildup" style="display:flex">
                <label class="switch">
                    <input type="checkbox" name="anyBuildup" v-model="args.options.any_buildup" :true-value=false :false-value=true>
                    <span class="slider round"></span>
                </label>
                <label for="anyBuildup">&nbsp;&nbsp;{{(args.options.any_buildup ? 'Any Selected Buildup Types' : 'All Selected Buildup Types')}}</label>
            </div>
        </div>
        <div v-if="args.options.has_buildup">
            <div class="tinge-poison">
                <checkbox
                    :collection="args.options"
                    :index="'poison'"
                    :label="'Poison'"
                />
                <checkbox
                    :collection="args.options"
                    :index="'deadly_poison'"
                    :label="'Toxin'"
                    :hint="'Deals 2x damage per tick when compared to poison but lasts 30s instead of 90s.'"
                />
                <checkbox
                    :collection="args.options"
                    :index="'super_deadly_poison'"
                    :label="'Venom'"
                    :hint="'Deals 2x damage per tick when compared to poison and lasts the full 90s.'"
                />
            </div>
            <div class="tinge-bleed">
                <checkbox
                    :collection="args.options"
                    :index="'bleed'"
                    :label="'Bleed'"
                />
                <checkbox
                    :collection="args.options"
                    :index="'deadly_bleed'"
                    :label="'Hemorrhage'"
                    :hint="'Deals 100 more damage than bleed when applied.'"
                />
            </div>
            <div>
                <div class="tinge-rot">
                    <checkbox
                        :collection="args.options"
                        :index="'rot'"
                        :label="'Scarlet Rot'"
                    />
                </div>
                <div class="tinge-frost">
                    <checkbox
                        :collection="args.options"
                        :index="'frost'"
                        :label="'Frostbite'"
                    />
                </div>
            </div>
            <div>
                <div class="tinge-sleep">
                    <checkbox
                        :collection="args.options"
                        :index="'sleep'"
                        :label="'Sleep'"
                    />
                </div>
                <div class="tinge-madness">
                    <checkbox
                        :collection="args.options"
                        :index="'madness'"
                        :label="'Madness'"
                    />
                </div>
                <div class="tinge-death">
                    <checkbox
                        :collection="args.options"
                        :index="'death'"
                        :label="'Death Blight'"
                    />
                </div>
            </div>
        </div>
    </div>
</template>