<script>
export default {
    props: {
        label: String,
        slot_id: String,
        item_list: Array,
        args: Object,
    },
}
</script>
<template>
    <div>
        <label v-if="label" style="width:100px">{{ label }}</label>
        <select class="select-box select-item input-text resizeable-select" v-model="args.modifiers[slot_id]">
            <option v-for="item in item_list" :value="item">
                {{ item.name }}
            </option>
        </select>
        <div class="div_button" @click="args.show_item_details[slot_id] = !args.show_item_details[slot_id]" :style="[args.modifiers[slot_id].name == 'None' ? {visibility:'hidden'} : {}]">{{args.show_item_details[slot_id] ? '-' : '+'}}</div>
    </div>
    <div class="item-attributes-parent" v-if="args.modifiers[slot_id].name!='None' && args.show_item_details[slot_id]">
        <div class="item-attributes">
            <div v-if="args.modifiers[slot_id].weight">
                <div>
                    Weight
                </div>
                <div class="value">
                    {{ args.modifiers[slot_id].weight || '-' }}
                </div>
            </div>
            <template v-if="args.modifiers[slot_id].negation">
                <div>
                    <div>
                        Standard Negation
                    </div>
                    <div class="value">
                        {{ args.modifiers[slot_id].negation.standard || '-' }}
                    </div>
                </div>
                <div>
                    <div>
                        Strike Negation
                    </div>
                    <div class="value">
                        {{ args.modifiers[slot_id].negation.strike || '-' }}
                    </div>
                </div>
                <div>
                    <div>
                        Slash Negation
                    </div>
                    <div class="value">
                        {{ args.modifiers[slot_id].negation.slash || '-' }}
                    </div>
                </div>
                <div>
                    <div>
                        Pierce Negation
                    </div>
                    <div class="value">
                        {{ args.modifiers[slot_id].negation.pierce || '-' }}
                    </div>
                </div>
                <div>
                    <div>
                        Magic Negation
                    </div>
                    <div class="value">
                        {{ args.modifiers[slot_id].negation.magic || '-' }}
                    </div>
                </div>
                <div>
                    <div>
                        Fire Negation
                    </div>
                    <div class="value">
                        {{ args.modifiers[slot_id].negation.fire || '-' }}
                    </div>
                </div>
                <div>
                    <div>
                        Lightning Negation
                    </div>
                    <div class="value">
                        {{ args.modifiers[slot_id].negation.lightning || '-' }}
                    </div>
                </div>
                <div>
                    <div>
                        Holy Negation
                    </div>
                    <div class="value">
                        {{ args.modifiers[slot_id].negation.holy || '-' }}
                    </div>
                </div>
            </template>
            <div v-if="args.modifiers[slot_id].immunity">
                <div>
                    Immunity
                </div>
                <div class="value">
                    {{ args.modifiers[slot_id].immunity || '-' }}
                </div>
            </div>
            <div v-if="args.modifiers[slot_id].robustness">
                <div>
                    Robustness
                </div>
                <div class="value">
                    {{ args.modifiers[slot_id].robustness || '-' }}
                </div>
            </div>
            <div v-if="args.modifiers[slot_id].focus">
                <div>
                    Focus
                </div>
                <div class="value">
                    {{ args.modifiers[slot_id].focus || '-' }}
                </div>
            </div>
            <div v-if="args.modifiers[slot_id].vitality">
                <div>
                    Vitality
                </div>
                <div class="value">
                    {{ args.modifiers[slot_id].vitality || '-' }}
                </div>
            </div>
            <div v-if="args.modifiers[slot_id].poise">
                <div>
                    Poise
                </div>
                <div class="value">
                    {{ args.modifiers[slot_id].poise || '-' }}
                </div>
            </div>
        </div>
        <div class="effects" v-if="args.modifiers[slot_id].effects || args.modifiers[slot_id].addendum">
            <div>
                <modifierDescription
                    :modifier="args.modifiers[slot_id]"
                    nobr
                />
            </div>
        </div>
    </div>
</template>