<script>
export default {
    props: {
        standard_neg: Number,
        strike_neg: Number,
        slash_neg: Number,
        pierce_neg: Number,
        magic_neg: Number,
        fire_neg: Number,
        lightning_neg: Number,
        holy_neg: Number,
        standard_def: Number,
        strike_def: Number,
        slash_def: Number,
        pierce_def: Number,
        magic_def: Number,
        fire_def: Number,
        lightning_def: Number,
        holy_def: Number,
        hp: Number,
        fp: Number,
        stamina: Number,
        equip_load: Number,
        equip_load_category: String,
        discovery: Number,
        weight: Number,
        immunity: Number,
        robustness: Number,
        focus: Number,
        vitality: Number,
        item_immunity: Number,
        item_robustness: Number,
        item_focus: Number,
        item_vitality: Number,
        poise: Number,
    },
}
</script>
<template>
    <div id="meta-stat-sheet">
        <div>
            Base Stats
        </div>
        <div>
            <div>
                HP
            </div>
            <div class="empty">
            </div>
            <div>
                {{ Math.floor(hp) }}
            </div>
            <div>
                FP
            </div>
            <div class="empty">
            </div>
            <div>
                {{ Math.floor(fp) }}
            </div>
            <div>
                Stamina
            </div>
            <div class="empty">
            </div>
            <div>
                {{ Math.floor(stamina) }}
            </div>
            <div>
                Equip Load
            </div>
            <div>
                {{ weight.toFixed(1) }}/
            </div>
            <div>
                {{ equip_load.toFixed(1) }}
            </div>
            <div class="empty">
            </div>
            <div class="empty">
            </div>
            <div>
                {{ equip_load_category }}
            </div>
            <div>
                Poise
            </div>
            <div class="empty">
            </div>
            <div>
                {{ Math.floor(poise) }}
            </div>
            <div>
                Discovery
            </div>
            <div class="empty">
            </div>
            <div>
                {{ discovery.toFixed(1) }}
            </div>
        </div>
        <div>
            Defense/Dmg Negation
        </div>
        <div>
            <div>
                Physical
            </div>
            <div>
                {{ Math.floor(standard_def) }}/
            </div>
            <div>
                {{ standard_neg.toFixed(3) }}
            </div>
            <div>
                VS Strike
            </div>
            <div>
                {{ Math.floor(strike_def) }}/
            </div>
            <div>
                {{ strike_neg.toFixed(3) }}
            </div>
            <div>
                VS Slash
            </div>
            <div>
                {{ Math.floor(slash_def) }}/
            </div>
            <div>
                {{ slash_neg.toFixed(3) }}
            </div>
            <div>
                VS Pierce
            </div>
            <div>
                {{ Math.floor(pierce_def) }}/
            </div>
            <div>
                {{ pierce_neg.toFixed(3) }}
            </div>
            <div>
                Magic
            </div>
            <div>
                {{ Math.floor(magic_def) }}/
            </div>
            <div>
                {{ magic_neg.toFixed(3) }}
            </div>
            <div>
                Fire
            </div>
            <div>
                {{ Math.floor(fire_def) }}/
            </div>
            <div>
                {{ fire_neg.toFixed(3) }}
            </div>
            <div>
                Lightning
            </div>
            <div>
                {{ Math.floor(lightning_def) }}/
            </div>
            <div>
                {{ lightning_neg.toFixed(3) }}
            </div>
            <div>
                Holy
            </div>
            <div>
                {{ Math.floor(holy_def) }}/
            </div>
            <div>
                {{ holy_neg.toFixed(3) }}
            </div>
        </div>
        <div>
            Resistance
        </div>
        <div>
            <div>
                Immunity
            </div>
            <div>
                {{ Math.floor(immunity) }}/
            </div>
            <div>
                {{ Math.floor(item_immunity) }}
            </div>
            <div>
                Robustness
            </div>
            <div>
                {{ Math.floor(robustness) }}/
            </div>
            <div>
                {{ Math.floor(item_robustness) }}
            </div>
            <div>
                Focus
            </div>
            <div>
                {{ Math.floor(focus) }}/
            </div>
            <div>
                {{ Math.floor(item_focus) }}
            </div>
            <div>
                Vitality
            </div>
            <div>
                {{ Math.floor(vitality) }}/
            </div>
            <div>
                {{ Math.floor(item_vitality) }}
            </div>
        </div>
    </div>
</template>