<script>
export default {
    props: {
        modifier: Object,
        nobr: Boolean,
    },
    data() { 
        return {
            description_map: {
                'base_stats':'',
                'hp':'HP',
                'fp':'FP',
                'equip_load':'equip load',
                'negation':'damage negation',
                'damage':'attack damage',
                'passive':'buildup',
                'movement':'damage',
                'target':'attack damage',
                'ranged':' ranged attack damage',
                'attribute':'attribute points',
                'attack':' attack power',
                'jumping':'jump attack',
                'critical':'critical attack',
                'guardcounter':'guard counter',
                'last':'last hit',
                'charged':'charged attack',
                'shieldpoke':'shield poke',
                'mounted':'mounted attack',
                'ancient_dragon':'against ancient dragons',
                'dragon':'against dragons',
                'void':'against void enemies',
                'undead':'against undead enemies',
                'vig':'VIG',
                'end':'END',
                'min':'MIN',
                'str':'STR',
                'dex':'DEX',
                'int':'INT',
                'fai':'FAI',
                'arc':'ARC',
                'sor':'sorcery',
                'inc':'incantation',
            },
            adjective_flip_list: [
                'target'
            ],
        }
    },
    methods: {
        get_modifier_text(effect) {
            var category = effect[0];
            var subcategory = effect[1];
            var incrementation = effect[2];
            var modifier = effect[3];
            var value = modifier.value;
            
            if(this.adjective_flip_list.includes(category))
                [category, subcategory] = [subcategory, category];
            
            if(category in this.description_map)
                category = this.description_map[category];
            
            if(subcategory in this.description_map)
                subcategory = this.description_map[subcategory];
            
            var plus_sign = !isNaN(value) && value >= 0 ? '+' : '';
            
            var message;
            switch(incrementation) {
                case 'percent':
                    message = `${plus_sign}${value}% ${subcategory} ${category}`;
                    break;
                case 'inverse':
                    message = `${plus_sign}${value}% ${subcategory} ${category}`;
                    break;
                case 'add':
                    message = `${plus_sign}${value} ${subcategory} ${category}`;
                    break;
                case 'mapped':
                    message = `increases ${subcategory} ${category} based on total weight`;
                    break;
                case 'inc':
                case 'sor':
                    message = `${value}% of ${this.description_map[incrementation]} scaling as ${subcategory}${category}`;
                    break;
                case 'str':
                case 'dex':
                case 'int':
                case 'fai':
                case 'arc':
                    message = `${plus_sign}${value} ${subcategory} ${category} scaling with ${incrementation}`;
                    break;
            }
            
            return message;
        },
    },
}
</script>
<template>
    <p class="modifier-text" :style="[{margin:0}, nobr?{'white-space':'nowrap'}:{}]" v-for="mod in (modifier.effects || [])">{{ get_modifier_text(mod) }}</p>
    <p class="modifier-text" :style="[{margin:0}, nobr?{'white-space':'nowrap'}:{}]" v-for="addendum in (modifier.addendum ? modifier.addendum.split('|') : [])"><i>{{ addendum }}</i></p>
</template>