<script>
export default {
    props: {
        min: Number,
        max: Number,
        default: Number,
        collection: Object,
        name: [Number, String],
        mobile: Boolean,
        alone: Boolean,
        box_length: String,
    },
    data() {
        return {
            size: this.max.toString().length,
            holding: false,
            interval: 0,
            timer: 0,
        };
    },
    computed: {
        isMobile() {
            return this.mobile ||
                /Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini|Mobile/i.test(navigator.userAgent) ||
                screen.width <= 480;
        },
    },
    methods: {
        start_dragging(e) {
            var that = this;
            var init_x = e.screenX;
            var init_value = that.collection[that.name];
            document.onmousemove = function(e) {
                that.collection[that.name] = Math.max(that.min, Math.min(that.max, e.screenX - init_x + init_value));
            };
            document.onmouseup = function() {
                document.onmousemove = null;
                document.onmouseup = null;
            };
        },
        start_press_and_hold(func) {
            var that = this;
            that.stop_timer();
            func();
            that.timer = setTimeout(function(){
                if(that.timer)
                    that.interval = setInterval(func, 50);
            }, 500);
        },
        stop_timer() {
            clearTimeout(this.timer);
            this.timer = 0;
            clearInterval(this.interval);
        },
    },
    mounted() {
        if(this.default)
            this.collection[this.name] = this.default;
    },
}
</script>
<template>
    <template v-if="isMobile">
    <div v-if="alone" :style="box_length ? {width:box_length} : {}"><input type="number" v-model.number="collection[name]" :min="min" :max="max" style="width:40px"></div>
    <td v-else :style="box_length ? {width:box_length} : {}"><input type="number" v-model.number="collection[name]" :min="min" :max="max" style="width:40px"></td>
    </template>
    <template v-else>
    <div class="arrow arrow-left" @mousedown="start_press_and_hold(()=>collection[name]--)" @mouseup="stop_timer" @mouseleave="stop_timer" :style="{visibility: collection[name] > min ? 'visible' : 'hidden'}"></div>
    <td class="scrollable-number" @mousedown="start_dragging" :style="[collection[name] < min ? {'color':'red'} : {'color':'revert-layer'}]">{{ collection[name].toString().padStart(size, '&#8194') }}</td>
    <div class="arrow arrow-right" @mousedown="start_press_and_hold(()=>collection[name]++)" @mouseup="stop_timer" @mouseleave="stop_timer" :style="{visibility: collection[name] < max ? 'visible' : 'hidden'}"></div>
    </template>
</template>