<script>
export default {
    props: {
        args: Object,
        result: Object,
        progress: Number,
        state: String,
    },
}
</script>
<template>
    <div id="optimization" class="elden_sheet">
        <div>
            <h2>Optimization</h2>
            <div>
                <checkbox
                    :collection="args"
                    :index="'optimize_class'"
                    :label="'Class'"
                    :hint="'Expensive, but reduces the small amount of wasted attributes from initial class choice.\\nClasses with higher initial level will win ties.'"
                />
                <checkbox
                    :collection="args"
                    :index="'optimize_attributes'"
                    :label="'Attributes'"
                />
                <checkbox
                    :collection="args"
                    :index="'optimize_weapon'"
                    :label="'Weapon'"
                />
            </div>
            
            <div>
                <div v-if="args.optimize_attributes">
                    <label for="lvl">Target Level</label>
                    <br>
                    <table>
                        <tr>
                            <numberSlider
                                :min="1"
                                :max="713"
                                :collection="args"
                                :name="'target_level'"
                            />
                        </tr>
                    </table>
                    <div style="font-size:12px">
                        Min. Attributes
                    </div>
                    <table>
                        <attributeSlider v-for="attribute in args.sources"
                            :collection="args.min_attributes"
                            :attribute="attribute"
                        />
                    </table>
                </div>
                <div style="display:flex;flex-direction:column;">
                    <checkbox v-if="args.optimize_attributes"
                        :collection="args.options"
                        :index="'brute_force'"
                        :label="'Brute Force Optimization'"
                        :hint="'Guarantees optimal attribute allocation but is computationally expensive.'"
                    />
                    <template v-if="args.optimize_weapon">
                        <div>
                            <label for="upgrade_cap">Standard Reinforcement Cap </label>
                            <input class="select-box input-text" type="number" v-model.number="args.upgrade_cap" min="0" max="25">
                        </div>
                        <div>
                            <label for="somber_upgrade_cap">Somber Reinforcement Cap </label>
                            <input class="select-box input-text" type="number" v-model.number="args.somber_upgrade_cap" min="0" max="10">
                        </div>
                    </template>
                </div>
            </div>
        </div>
        
        <div v-if="state=='update'">
            <div>
                <p>{{Math.floor(progress * 100)}}%</p>
            </div>
        </div>
        
        <div v-if="state=='output'">
            <div>
                <div>
                    <table style="text-align:left;font-size:10px;" v-if="!result.error">
                        <tr>
                            <th>
                                Class
                            </th>
                            <th v-for="attribute in args.sources">
                                {{ attribute.toUpperCase() }}
                            </th>
                            <th>
                                Damage
                            </th>
                        </tr>
                        <tr style="text-align:right">
                            <td>
                                {{ result.class.name[0].toUpperCase() + result.class.name.substring(1) }}
                            </td>
                            <td v-for="attribute in args.sources.map(k => result.attributes[k])">
                                {{ attribute }}
                            </td>
                            <td>
                                <div class="anim_fire">{{ result.damage }}</div>
                                <template v-for="buildup in Object.keys(result.passive_contribution).filter(b => result.passive_contribution[b])">
                                    <div :class=buildup>
                                        ({{ result.passive_contribution[buildup] }})
                                    </div>
                                </template>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <div style="font-size:20px;color:gold;">{{ result.name }}</div>
                            </td>
                        </tr>
                    </table>
                    <p v-else>
                        {{ result.error }}
                    </p>
                </div>
            </div>
        </div>
        
        <div>
            <div>
                <div v-if="state!='update' && (args.optimize_class || args.optimize_attributes || args.optimize_weapon)" :style="[{'pointer-events':args.loading?'none':'auto'}]" class="div_button" @click="$emit('run', 'optimize')">Optimize</div>
                <template v-if="state=='output'">
                    <div class="div_button" @click="$emit('apply')" v-if="!result.error">Apply</div>
                    <div class="div_button" @click="$emit('clear')">Clear</div>
                </template>
                <div class="div_button" @click="$emit('cancel')" v-if="state=='update'">Cancel</div>
            </div>
        </div>
    </div>
</template>