<script>
export default {
}
</script>
<template>
    <div class="roadmap">

    <h2>
    POST RELEASE SUPPORT
    </h2>

    <ul>

    <li>
    Mobs.
    </li>

    <li>
    Stamina/hp/fp regen and other base stats.
    </li>

    <li>
    Black Flame damage.
    </li>

    <li>
    Ongoing weapon and shield effects.
    </li>

    </ul>

    <h2>
    STRETCH FEATURES
    </h2>

    <ul>

    <li>
    Saving and loading builds.
    </li>

    <li>
    Paired weapon damage.
    </li>

    <li>
    Stamina and Poise damage.
    </li>

    <li>
    PVP data and options.
    </li>

    <li>
    Custom enemy maker for PVP.
    </li>

    <li>
    Spell Slots.
    </li>

    <li>
    Spell Damage Calculator.
    </li>

    <li>
    Weapon Art Slots.
    </li>

    <li>
    Weapon Art Calculator.
    </li>

    </ul>

    </div>
</template>