<script>
export default {
    props: {
        target: Object,
    },
    methods: {
        capitalize(string) {
            return capitalize(string);
        },
    },
}
</script>
<template>
    <div id="target-sheet">
        <div>
            HP
        </div>
        <div>
            Type
        </div>
        <div>
            Def.
        </div>
        
        <div>
            Bleed Neg.
        </div>
        <div>
            Frost Neg.
        </div>

        <div class="value">
            {{ target.health }}
        </div>
        <div class="value">
            {{ target.type.split('_').map(s => capitalize(s)).join(' ') }}
        </div>
        <div class="value">
            {{ Math.floor(target.defense) }}
        </div>
        
        <div class="value">
            {{ target.bleed == -1 ? 'IMM' : (100 - 100 * target.proc_multiplier.bleed).toFixed(0) }}
        </div>
        <div class="value">
            {{ target.frost == -1 ? 'IMM' : (100 - 100 * target.proc_multiplier.frost).toFixed(0) }}
        </div>

        <div>
            Damage Neg.
        </div>
        <div>
            Phys.
        </div>
        <div>
            Strk.
        </div>
        <div>
            Slsh.
        </div>
        <div>
            Pier.
        </div>
        <div>
            Mag.
        </div>
        <div>
            Fire
        </div>
        <div>
            Lght.
        </div>
        <div>
            Holy
        </div>

        <div class="value">
            {{ (100 - 100 * target.standard).toFixed(0) }}
        </div>
        <div class="value">
            {{ (100 - 100 * target.strike).toFixed(0) }}
        </div>
        <div class="value">
            {{ (100 - 100 * target.slash).toFixed(0) }}
        </div>
        <div class="value">
            {{ (100 - 100 * target.pierce).toFixed(0) }}
        </div>
        <div class="value">
            {{ (100 - 100 * target.magic).toFixed(0) }}
        </div>
        <div class="value">
            {{ (100 - 100 * target.fire).toFixed(0) }}
        </div>
        <div class="value">
            {{ (100 - 100 * target.lightning).toFixed(0) }}
        </div>
        <div class="value">
            {{ (100 - 100 * target.holy).toFixed(0) }}
        </div>

        <div>
            Resistance
        </div>
        <div>
            Poi.
        </div>
        <div>
            Bld.
        </div>
        <div>
            Rot
        </div>
        <div>
            Frst.
        </div>
        <div>
            Mad.
        </div>
        <div>
            Slp.
        </div>
        <div>
            Dth.
        </div>

        <div class="value">
            {{ target.poison == -1 ? 'IMM' : target.poison }}
        </div>
        <div class="value">
            {{ target.bleed == -1 ? 'IMM' : target.bleed }}
        </div>
        <div class="value">
            {{ target.rot == -1 ? 'IMM' : target.rot }}
        </div>
        <div class="value">
            {{ target.frost == -1 ? 'IMM' : target.frost }}
        </div>
        <div class="value">
            {{ target.madness == -1 ? 'IMM' : target.madness }}
        </div>
        <div class="value">
            {{ target.sleep == -1 ? 'IMM' : target.sleep }}
        </div>
        <div class="value">
            {{ target.death == -1 ? 'IMM' : target.death }}
        </div>
        
        <div class="x"></div>
        <div class="y"></div>
        <div class="z"></div>
    </div>              
</template>