<script>
export default {
    props: {
        collection: Object,
        index: String,
        label: String,
        hint: String,
    },
}
</script>
<template>
    <div style="display:flex;flex-direction:row;">
        <template v-if="label"><label :for="index"></label><label :class="{tooltip:hint}" :title="hint" style="margin-right:5px">{{ label }}</label></template>
        <input type="text" :name="index" v-model="collection[index]">
    </div>
</template>