<script>
export default {
    props: {
        label: String,
        slot_id: String,
        args: Object,
        equippable_weapons: Array,
        innerWidth: Number,
        radio: Boolean,
    },
}
</script>
<template>
    <div>
        <input type="radio" v-model="args.selected_weapon_slot" :value="slot_id" v-if="radio"/>
        <label v-if="label">{{ label }}</label>
        <select class="select-box select-item input-text resizeable-select" v-model="args.selected_weapons[slot_id]">
            <option v-for="weapon in equippable_weapons.concat(equippable_weapons.includes(args.selected_weapons[slot_id]) ? [] : [args.selected_weapons[slot_id]])" :value="weapon">
                {{ weapon.name }}
            </option>
        </select>
        <template v-if="args.selected_weapons[slot_id] && innerWidth >= 500 && args.selected_weapons[slot_id].max_upgrade_level">
            <label for="upgrade_level">Reinforcement </label>
            <input class="select-box input-text" type="number" v-model.number="args.selected_weapons_reinforcements[slot_id]" min="0" :max="args.selected_weapons[slot_id].max_upgrade_level">
        </template>
    </div>
    <div v-if="innerWidth < 500 && args.selected_weapons[slot_id].max_upgrade_level" style="justify-content:start">
        <template v-if="args.selected_weapons[slot_id]">
            <label for="upgrade_level">Reinforcement </label>
            <input class="select-box input-text" type="number" v-model.number="args.selected_weapons_reinforcements[slot_id]" min="0" :max="args.selected_weapons[slot_id].max_upgrade_level">
        </template>
    </div>
</template>