<script>
export default {
    props: {
        result: Object,
    },
}
</script>
<template>
    <div id="weapon" class="elden_sheet">
        <errorResultForm v-if="result.error"
            :result="result"
        />
        <template v-else>
            <div class="weapon_data">
                <div>
                    <div style="font-size:20px;color:gold;">{{ result.name }}</div>
                    <div class="col_2_flex">
                        <div>
                            <div>{{ result.weapon_type }}</div>
                            <div class="filler"></div>
                        </div>
                        <div>
                            <div>{{ result.physical_damage_types.join('/') }}</div>
                            <div class="filler"></div>
                        </div>
                        <div>
                            <div>&nbsp;</div>
                            <div class="filler"></div>
                        </div>
                        <div>
                            <a style="color:cyan;" :href="'https://eldenring.wiki.fextralife.com/'+result.base_weapon_name.replaceAll(' ', '+')">{{ result.base_weapon_name }}</a>
                            <div class="filler"></div>
                        </div>
                        <div>
                            <div>{{ result.affinity }}</div>
                            <div class="filler"></div>
                        </div>
                        <div>
                            <div>Weight</div>
                            <div>{{ result.weight }}</div>
                        </div>
                        
                        <div>
                            <div>{{ 'Is ' + (result.buffable ? '' : 'Not') + ' Enchantable' }}</div>
                            <div class="filler"></div>
                        </div>
                    </div>
                </div>
                <div class="damage_result">
                    <div class="anim_fire">{{ result.damage }}</div>
                    <template v-for="buildup in Object.keys(result.passive_contribution).filter(b => result.passive_contribution[b])">
                        <div :class=buildup>
                            ({{ result.passive_contribution[buildup] }})
                        </div>
                    </template>
                </div>
            </div>
            <div class="attack_power">
                <div>Attack Power</div>
                <div class="stat_box col_8">
                
                    <div>Physical</div>
                    <div>{{ result.base_attack_power.physical }}</div>
                    <div>{{ result.bonus_attack_power.physical || result.modded_attack_power.physical ? '+' : '' }}</div>
                    <div>{{ result.bonus_attack_power.physical || '' }}</div>
                    <div>{{ result.bonus_attack_power.physical && result.modded_attack_power.physical ? '+' : '' }}</div>
                    <div>{{ result.modded_attack_power.physical || '' }}</div>
                    <div>=</div>
                    <div>{{ result.total_attack_power.physical }}</div>
                    
                    <div>Magic</div>
                    <div>{{ result.base_attack_power.magic }}</div>
                    <div>{{ result.bonus_attack_power.magic || result.modded_attack_power.magic ? '+' : '' }}</div>
                    <div>{{ result.bonus_attack_power.magic || '' }}</div>
                    <div>{{ result.bonus_attack_power.magic && result.modded_attack_power.magic ? '+' : '' }}</div>
                    <div>{{ result.modded_attack_power.magic || '' }}</div>
                    <div>=</div>
                    <div>{{ result.total_attack_power.magic }}</div>
                    
                    <div>Fire</div>
                    <div>{{ result.base_attack_power.fire }}</div>
                    <div>{{ result.bonus_attack_power.fire || result.modded_attack_power.fire ? '+' : '' }}</div>
                    <div>{{ result.bonus_attack_power.fire || '' }}</div>
                    <div>{{ result.bonus_attack_power.fire && result.modded_attack_power.fire ? '+' : '' }}</div>
                    <div>{{ result.modded_attack_power.fire || '' }}</div>
                    <div>=</div>
                    <div>{{ result.total_attack_power.fire }}</div>
                    
                    <div>Lightning</div>
                    <div>{{ result.base_attack_power.lightning }}</div>
                    <div>{{ result.bonus_attack_power.lightning || result.modded_attack_power.lightning ? '+' : '' }}</div>
                    <div>{{ result.bonus_attack_power.lightning || '' }}</div>
                    <div>{{ result.bonus_attack_power.lightning && result.modded_attack_power.lightning ? '+' : '' }}</div>
                    <div>{{ result.modded_attack_power.lightning || '' }}</div>
                    <div>=</div>
                    <div>{{ result.total_attack_power.lightning }}</div>
                    
                    <div>Holy</div>
                    <div>{{ result.base_attack_power.holy }}</div>
                    <div>{{ result.bonus_attack_power.holy || result.modded_attack_power.holy ? '+' : '' }}</div>
                    <div>{{ result.bonus_attack_power.holy || '' }}</div>
                    <div>{{ result.bonus_attack_power.holy && result.modded_attack_power.holy ? '+' : '' }}</div>
                    <div>{{ result.modded_attack_power.holy || '' }}</div>
                    <div>=</div>
                    <div>{{ result.total_attack_power.holy }}</div>
                    
                </div>
            </div>
            <div class="attribute_scaling">
                <div>
                    <div>Attribute Scaling</div>
                    <div class="stat_box col_4">
                    
                        <div>Str</div>
                        <div>{{ result.str_scaling_grade }}</div>
                        
                        <div>Dex</div>
                        <div>{{ result.dex_scaling_grade }}</div>
                        
                        <div>Int</div>
                        <div>{{ result.int_scaling_grade }}</div>
                        
                        <div>Fai</div>
                        <div>{{ result.fai_scaling_grade }}</div>
                        
                        <div>Arc</div>
                        <div>{{ result.arc_scaling_grade }}</div>
                        
                    </div>
                </div>
                <div>
                    <div>Attributes Required</div>
                    <div class="stat_box col_4">
                    
                        <div>Str</div>
                        <div>{{ result.required_str }}</div>
                        
                        <div>Dex</div>
                        <div>{{ result.required_dex }}</div>
                        
                        <div>Int</div>
                        <div>{{ result.required_int }}</div>
                        
                        <div>Fai</div>
                        <div>{{ result.required_fai }}</div>
                        
                        <div>Arc</div>
                        <div>{{ result.required_arc }}</div>
                    
                    </div>
                </div>
            </div>
            
            <div class="passive_effects">
                <div>Passive Effects</div>
                <div class="stat_box col_4">
                
                    <div>Poison</div>
                    <div>{{ result.poison || '-' }}</div>
                    
                    <div>Bleed</div>
                    <div>{{ result.bleed || '-' }}</div>
                    
                    <div>Toxin</div>
                    <div>{{ result.deadly_poison || '-' }}</div>
                    
                    <div>Hemorrhage</div>
                    <div>{{ result.deadly_bleed || '-' }}</div>
                    
                    <div>Venom</div>
                    <div>{{ result.super_deadly_poison || '-' }}</div>
                    
                    <div>Scarlet&nbsp;Rot</div>
                    <div>{{ result.rot || '-' }}</div>
                    
                    <div>Frostbite</div>
                    <div>{{ result.frost || '-' }}</div>
                    
                    <div>Sleep</div>
                    <div>{{ result.sleep || '-' }}</div>
                    
                    <div>Madness</div>
                    <div>{{ result.madness || '-' }}</div>
                    
                    <div>Death&nbsp;Blight</div>
                    <div>{{ result.death || '-' }}</div>
                    
                </div>
            </div>
        </template>
    </div>
</template>