html {
    position: relative;
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black /*#090f0e*/;
    font-family: Optimus;
    /*font-style: italic;*/
    color: goldenrod;
}

a {
     cursor:pointer;
     color:orange;
     text-decoration:underline;
     font-size: 14px;
}

label {
    white-space: nowrap;
}

input {
    -webkit-backface-visibility: hidden;
}

input[type='number'] {
    width: 40px;
}

button {
    align-self: flex-start;
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

#master-band {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

#header {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: goldenrod;
}

#header > .empty {
    width: 129px;
    height: 100px;
}

#footer {
    background: #42444e;
    color: #ddd;
    position: sticky;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#navigation ul {
    padding-inline-start:0;
}

#navigation li {
    list-style: none;
    margin: 20px 0;
}


/*see css on #main for full dynamic description*/
#main {
    display: grid;
    justify-content: center;
    justify-items: stretch;
}

.main-three {
    grid-template-columns: 600px 530px 486px;
    grid-template-rows: min-content auto;
    grid-template-areas:
    "character weapon optimization"
    "character damage filter";
    gap: 10px;
    
}

.main-two {
    grid-template-columns: 600px 530px;
    grid-template-rows: min-content auto 422px;
    grid-template-areas:
    "character weapon"
    "character damage"
    "optimization filter";
    gap: 10px;
}

.main-one {
    grid-template-columns: minmax(auto, 550px);
    grid-template-rows: auto auto auto auto 422px;
    grid-template-areas:
    "character"
    "weapon"
    "damage"
    "filter"
    "optimization";
    gap: 5px;
}

#filter {
    grid-area: filter;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#filter > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
}

#filter > div:first-of-type {
    flex-wrap: nowrap;
}

#character {
    grid-area: character;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#character > div:not(.grid-table) {
    display: flex;
    /*flex-direction: row;  //row is the default and I want to override this with a less specific selector  */
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
}

#equipment {
    display:grid;
    column-gap: 5px;
}


#equipment .meta {
    color: white;
}

#meta-stat-sheet {
    max-width: 300px;
}

#meta-stat-sheet > :nth-child(odd) {
    color: tan;
}

#meta-stat-sheet > :nth-child(even) {
    display: grid;
    grid-template-columns: minmax(80px, 100px) minmax(40px, 100px) minmax(80px, 100px);
    color:white;
}

#meta-stat-sheet > :nth-child(even) > :nth-child(3n+1) {
    justify-self: start;
}

#meta-stat-sheet > :nth-child(even) > :nth-child(3n+2) {
    justify-self: end;
}

#meta-stat-sheet > :nth-child(even) > :nth-child(3n+3) {
    justify-self: end;
}

#target-sheet {
    display: grid;
    grid-template-columns: 75px repeat(8, 30px);
    grid-template-areas:
    ". t t t . b b f f"
    ". v v v . c c g g"
    ". . . . . . . . ."
    "x . . . . . . . ."
    ". . . . . . . . z"
    "y . . . . . . . z";
    font-size: 12px;
    column-gap: 2px
}


#target-sheet * {
    text-align: right;
}

#target-sheet :nth-child(1) {
    text-align: left;
}

#target-sheet :nth-child(6) {
    text-align: left;
}

#target-sheet :nth-child(11) {
    text-align: left;
}

#target-sheet :nth-child(28) {
    text-align: left;
}

#target-sheet :nth-child(2) {
    grid-area: t;
    text-align: center;
}

#target-sheet :nth-child(7) {
    grid-area: v;
    text-align: center;
}

#target-sheet :nth-child(4) {
    grid-area: b;
}

#target-sheet :nth-child(5) {
    grid-area: f;
}

#target-sheet :nth-child(9) {
    grid-area: c;
}

#target-sheet :nth-child(10) {
    grid-area: g;
}

#target-sheet .x {
    grid-area: x;
}

#target-sheet .y {
    grid-area: y;
}

#target-sheet .z {
    grid-area: z;
}

.value {
    color: white;
}

.item-attributes-parent {
    flex-direction: column;
    margin-left: 20px;
}

.item-requirements {
    margin-left:20px;
    display:flex;
    flex-direction:row;
    gap:5px;
}

.item-requirements p {
    margin: 0;
}

.item-attributes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 0;
    min-width: 100%;
    gap: 5px;
}

.item-attributes > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

.effects {
    display: flex;
    flex-direction: column;
    justify-self: start;
    color: white;
}

.catalyst-parent {
    flex-direction: column;
    margin-left: 20px;
}

.catalyst {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

#damage {
    grid-area: damage;
    display: flex;
    flex-direction: column;
}

#damage > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    width: 0;
    min-width: 100%;
}

#damage > div > div {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

#optimization {
    grid-area: optimization;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

#optimization > div {
    display: flex;
    flex-direction: column;
}

#optimization > div > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}


#result-character-area {
    grid-area: result-character;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

#result-character-area > * {
    flex: 1;
}

#result-character-area > img {
    height: 484px;
    object-fit: contain;
}

#weapon {
    grid-area: weapon;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 10px;
}

#weapon > div:not(:first-child) {
    color: tan;
}

.content {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 50px;
}

.faq {
    max-width: 860px;
    margin: auto;
    justify-content: center;
}

.roadmap {
    max-width: 860px;
    margin: auto;
    justify-content: center;
}

.roadmap li {
    font-size: 24px;
}

.error-area {
    align-self: center;
    text-align: center;
}

#side-ad {
    width: 120px;
    flex: none;
}

.video_background {
    height:100%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    opacity: 0.2;
    /* to center the frame */
    transform: translate(-50%, 0px);
    left: 50%;
}

.selectNoScroll {
    overflow: hidden;
}

.runes {
    display: flex;
    flex-direction : row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 0;
    min-width: 100%;
}

.runes img {
    height: 150px;
}

.select_header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.elden_sheet {
    background-image: linear-gradient(black, #1d1b0c, #505050);
    opacity: 0.8;
    border-radius: 10px;
    padding: 10px;
}

.ad {
    flex: auto;
}

.damage_result {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.anim_fire {
    color: gold;
    animation: fire 2.0s infinite alternate;
}

.attribute_result {
    font-size: 50px;
    color: white;
}

.attribute_result > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.attribute_result > div > *:nth-child(odd) {
    text-align: left;
}

.attribute_result > div > *:nth-child(even) {
    text-align: right;
}

.div_button {
    color: white;
    min-width: 10px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    border: 2px solid goldenrod;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-image: linear-gradient(black, #1d1b0c, #505050);
    user-select: none;
}

.div_button:hover {
    filter: brightness(150%);
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  background-color: #a17f1a;
  bottom: 2px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes fire
{
   0%
   {
       text-shadow:
       5px -25px 50px yellow,
       0 0px 20px red,
       10px -15px 15px orange;
   }
   33%
   {
       text-shadow:
       0 -20px 30px yellow,
       15px -5px 20px red,
       5px 0 20px orange;
   }
   66%
   {
       text-shadow:
       10px -25px 50px yellow,
       5px -10px 20px red,
       0 -5px 20px orange;
   }
   100%
   {
       text-shadow:
       0 -20px 50px yellow,
       5px -15px 20px red,
       10px 0 20px orange;
   }
}

.filler {
}

.weapon_data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.weapon_data > div {
    min-width: 50%;
    flex: auto;
}

.attribute_scaling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.attribute_scaling > div {
    flex: 1;
}

.stat_box {
    color: white;
    border-left-style: groove;
    border-left-color: orange;
    padding-left: 5px;
}

.col_2_flex {
    color: white;
    border-left-style: groove;
    border-left-color: orange;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

.col_2_flex > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col_2_flex > div > *:nth-child(odd) {
    display: flex;
    flex-direction: row;
}

.col_2_flex > div > *:nth-child(even) {
    display: flex;
    flex-direction: row;
}

.col_2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.col_4 {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.col_4 > * {
    padding-right: 20px;
}

.col_6 {
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.col_8 {
    display: grid;
    grid-template-columns: repeat(8, auto);
}

.stat_box > *:nth-child(odd) {
    text-align: left;
}

.stat_box > *:nth-child(even) {
    text-align: right;
}

.tinge-poison {
    background-color: rgba(102,116,3,0.3);
    border-radius: 5px;
    padding-right: 4px;
    height: min-content;
}

.poison {
    color: rgb(102,116,3);
}

.tinge-bleed {
    background-color: rgba(107,16,22,0.3);
    border-radius: 5px;
    padding-right: 4px;
    height: min-content;
}

.bleed {
    color: rgb(107,16,22);
}

.tinge-rot {
    background-color: rgba(110,47,46,0.5);
    border-radius: 5px;
    padding-right: 4px;
    height: min-content;
}

.rot {
    color: rgb(110,47,46);
}

.tinge-frost {
    background-color: rgba(224,255,255,0.3);
    border-radius: 5px;
    padding-right: 4px;
    height: min-content;
}

.frost {
    color: rgb(224,255,255);
}

.tinge-sleep {
    background-color: rgba(90,93,127,0.3);
    border-radius: 5px;
    padding-right: 4px;
    height: min-content;
}

.sleep {
    color: rgb(90,93,127);
}

.tinge-madness {
    background-color: rgba(189,104,27,0.3);
    border-radius: 5px;
    padding-right: 4px;
    height: min-content;
}

.madness {
    color: rgb(189,104,27);
}

.tinge-death {
    background-color: rgba(20,20,20,0.3);
    border-radius: 5px;
    padding-right: 4px;
    height: min-content;
}

.death {
    color: rgb(20,20,20);
}

.scrollable-number {
    color: white;
    cursor:ew-resize;
    user-select: none;
}

.arrow {
    border-right:2px solid white;
    border-bottom:2px solid white;
    width:8px;
    height:8px;
    margin-top:6px;
    user-select: none;
}

.arrow:hover {
    box-shadow: 0 0 3px white inset;
    /*
    border-right-color: gold;
    border-bottom-color: gold;
    */
}

.arrow-right {
    transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
}

.checkbox {
  display: none;
}
.checkbox + label {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checkbox:hover + label:hover {
  color: rgb(23, 86, 228);
}
.checkbox:hover + label:before {
  border: 1px solid #cb4c16;
  box-shadow: 2px 1px 0 #cb4c16;
}
.checkbox + label:last-child {
  margin-bottom: 0;
}
.checkbox + label:before {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #343a3f;
  border-radius: 1em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: #f3f3f3;
  box-shadow: -2px -1px 0 #89cff0;
}
.checkbox:checked + label:before {
  border-radius: 1em;
  border: 2px solid #cb4c16;
  width: 1em;
  height: 1em;
  background: #50565a;
  box-shadow: 2px 1px 0 #50565a;
}

.select-item {
    /*
    background-image: url("assets/pouch.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    padding-right: 20px;
    margin-right: -20px;
    */
}

.select-box {
    appearance: none;
    width: calc(100%);
    /*background-image: linear-gradient(to right,black, white);*/
    background-color: transparent;
    border-radius: 8px;
    border-color: transparent;
    border-width: 2px;
    text-shadow: 0 0 20px gold;
    outline: none;
    cursor: pointer;
}

.resizeable-select {
    /*max-width: 200px;*/
}

.input-text {
    color: white;
    font: caption;
}

.select-box .input-text {
    color: white;
    font: caption;
}

.input-text[multiple] {
    font-size: 12px;
}

/*order of unusable-buff is important*/
.unusable-buff {
    color: red;
}

.select-box .unusable-buff:not(:checked) {
    color: red;
}

.select-box option {
    color: white;
    background-color: #3c484e;
}

.select-box option:checked {
    color: black;
    text-shadow: 0 0 6px white;
}

.tooltip {
    border-bottom: 1px dotted white;
}